body {
    background-color: #000;
}

@font-face {
    font-family: 'Alta';
    src: url('Alta_regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

.logo-bihe {
    position: absolute;
    left: 0px;
    ;
    top: -50px;
}

.logo-whatsapp {
    position: absolute;
    left: 1010px;
    ;
    top: 40px;
}

.logo-instagram {
    position: absolute;
    left: 1140px;
    ;
    top: 50px;
}

.input1 {
    background-color: #000;
    color: #fff;

}

.form-control {
    position: absolute;
    top: 69px;
    left: 360px;
    border: 5px solid #fff;
    border-radius: 50px;

}


.form-control input {
    border: 2px;
    display: block;
    border-radius: 50px;
    font-size: 16px;
    width: 500px;
    height: 10px;
    padding: 10px;

}

.menu-lista {

    width: 1223px;
    font-family: 'Alta';
    font-size: small;
    font-size: 14px;
    position: absolute;
    flex-shrink: 0;
    height: 40px;
    left: 0px;
    top: 155px;
    background: linear-gradient(180deg, #9B9B9B 0%, #FFF 100%);


}

.menu-lista-item {
    display: inline-block;
    margin: 0 16px;
    margin-left: 15px;
    font-size: 20px;



    top: 125px;
    color: #000;
    height: 23px;

    display: inline-block;
    padding: 4px;
    padding-right: 64px;

    margin: 0 7px;

}

.banner {
    position: absolute;
    left: 0px;
    ;
    top: 210px;


}

.titulo {
    margin-top: 600px;
    position: relative;
    text-align: center;
    color: #FFF;
    font-family: 'Alta';
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.degrade {
    position: absolute;
    left: 0px;
    top: 55 0px;
    width: 1223px;
    height: 1545px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000 0%, #FFF 67.72%, #6C6C6C 67.73%);

}

.imagens-geral-col1 {
    position: relative;
    text-align: center;
    width: 1100px;
    position: absolute;
    flex-shrink: 0;
    height: 40px;
    left: 100px;
    right: 100px;
    top: 700px;
}

.imagens-individual-col1 {
    display: inline-block;
    margin: 0 16px;
    margin-left: 15px;
    top: 125px;
    height: 23px;

    display: inline-block;
    padding: 4px;
    padding-right: 64px;

    margin: 0 0;
}

.tituloProdutos {
    color: #FFF;
    font-family: 'Alta';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo2 {
    margin-top: 850px;
    position: relative;
    text-align: center;
    color: #000;
    font-family: 'Alta';
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-control2 {
    position: absolute;
    top: 1600px;
    left: 360px;
    border: 5px solid #000000;
    border-radius: 50px;

}

.form-control2 input {
    border: 2px;
    display: block;
    border-radius: 50px;
    font-size: 16px;
    width: 500px;
    height: 10px;
    padding: 10px;

}

.input2 {
    background-color: #fff;
    color: #000;

}

.rodape {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 40px;
    width: 1223px;
    height: 500px;
    flex-shrink: 0;
    background-color: #FFF;
    font-family: 'Alta';
    font-size: small;
    font-weight: bold;

}.rodape-item {
    display: inline-block;
    margin: 0 16px;
    margin-left: 100px;
    font-size: 20px;
    top: 125px;
    color: #000;
    height: 23px;

    display: inline-block;
    padding: 4px;
    padding-right: 64px;

    margin: 0 22px;

}

.rodape-esquerda{

    display: inline-block;
    color: #000;
    height: 23px;
    padding: 4px;
    padding-right: 64px;
    margin: 0 7px;
    font-size: 20px;
}
.rodape-centro{

    display: inline-block;
    color: #000;
    height: 23px;   
    padding: 4px;
    padding-right: 64px;
    margin: 0 7px;
    font-size: 20px;
}

.rodape-direita{

    display: inline-block;
    color: #000;
    height: 23px;   
    padding: 4px;
    padding-right: 64px;
    margin: 0 7px;
    font-size: 20px;
}
.rodape-item-titulo {
    top:0px;
    display: inline-block;
    margin: 0 16px;
    margin-left: 15px;
    font-size: 20px;
    top: 125px;
    color: #000;
    height: 23px;

    display: inline-block;
    padding: 4px;
    padding-right: 64px;
    margin: 0 7px;

    
}

.rodape-item-texto {
    display: inline-block;
    margin: 0 16px;
    margin-left: 15px;
    font-size: 14px;
    top: 125px;
    color: #000;
    height: 23px;

    display: inline-block;
    padding: 4px;
    padding-right: 64px;
    margin: 0 7px;
}